<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url }}" method="POST">
        <label for="Search Image">Search Image:</label><br>
        <input type="text" id="query" name="query" value=""><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>

<!-- create new html file for displaying result -->

<div style="display: flex;">
    {% for gif in imgData %}
    <img src="{{gif}}"/>
    {% endfor %}
</div>
